
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
  }
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    margin-top: 65px;
    /* padding: 25px 30px; */
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    /* display: flex;
    justify-content: center; */
  }
  .container .title{
    font-size: 36px;
    font-weight: 500;
    position: relative;
    background-color: #A8A8A8;
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 15px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
   form .button{
     height: 45px;
     margin: 35px 0
   }
  
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #A8A8A8, whitesmoke);
   }
   
  